#Content {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#NotificationStack {
	right: 0;
	bottom: 0;
	position: absolute;
}

#ImportOverviewContainer,  #ImportPageContainer {
	overflow-y: auto;
	overflow-x: hidden;
}

#Sidebar {}

.Notification {
	width: 30.0em;
	margin: 0.2em 0.2em;
	opacity: 0.7;
	cursor: pointer;
}

.Notification .NotificationTitle {
	margin: 0.2em 0.2em;
	padding: 0.2em;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.Notification .NotificationFieldName {
	margin: 0.2em 0 0.2em 0.2em;
	padding: 0.2em;
}

.Notification .NotificationFieldValue {
	margin: 0.2em 0.2em 0.2em 0;
	padding: 0.2em;
	overflow: hidden;
	word-wrap: normal;
	white-space: nowrap;
}

.VariableName {
	width: 8em;
}

.Title {
	vertical-align: middle;
	text-align: center;
	margin: 0.25em 0;
}

.Button {
	user-select: none;
	cursor: pointer;
	margin: 0.4em;
	padding: 0.5em 1em;
}

.ButtonText {
	vertical-align: middle;
	text-align: center;
}

.ButtonImage {
	width: 4em;
	background-blend-mode: lighten;
	background-size: 1.5em 1.5em;
	background-repeat: no-repeat;
	background-position: center
}

.Input {
	padding: 0 0.5em;
}

.Dropdown {
	user-select: none;
    cursor: pointer;
    margin: 0 0.4em;
}

.FlexRow {
	display: flex;
	flex-direction: row;
}

.FlexColumn {
	display: flex;
	flex-direction: column;
}

.FlexDynamic {
	flex-grow: 1;
	height: 100%;
	width: 100%;
}

.FlexStatic {
	flex-shrink: 0;
}

.FlexCenter {
	align-items: center;
	justify-content: center;
}

.HorizontalCenter {
	margin-left: auto;
	margin-right: auto;
}

.PageLine {
	height: 0.2em;
	width: 90%;
	margin: 0.5em 5%;
}

.FullWidth {
	width: 100%;
}

.FullHeight {
	height: 100%;
}

.FullContainer {
	width: 100%;
	height: 100%;
}

.Disabled {
	opacity: 0.2;
	user-select: none;
	cursor: default;
	pointer-events: none;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	white-space: nowrap;
}

html {
	font-size: 83.333%;
}
