#Content {
	width: 100vw;
	height: 100vh;
	/*overflow: hidden;*/
}

#NotificationStack {
	right: 0;
	bottom: 0;
	position: absolute;
}

#ImportOverviewContainer,  #ImportPageContainer {
	height: 100%;
	width: 40%;
}

#ImportPage {
	height: 100%;
	width: 100%;
}


.Notification {
	width: 300pt;
	margin: 4pt 4pt;
}

.Notification .NotificationTitle {
	margin: 2pt 2pt;
	padding: 2pt;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.Notification .NotificationFieldName {
	margin: 2pt 0 2pt 2pt;
	padding: 2pt;
}

.Notification .NotificationFieldValue {
	margin: 2pt 2pt 2pt 0;
	padding: 2pt;
	overflow: hidden;
	word-wrap: normal;
	white-space: nowrap;
}

.ImportPageContainer {
	height: 50%;
}

.Import.Button {
	width: 40%;
}

.FullContainer {
	width: 100%;
	height: 100%;
}

.Input {
	padding: 0 5pt;
	box-sizing: border-box;
}

.Button {
	user-select: none;
	cursor: pointer;
}

.ButtonText {
	vertical-align: middle;
	text-align: center;
	padding: 0 0.4rem;
}

.FlexRow {
	display: flex;
	flex-direction: row;
}

.FlexColumn {
	display: flex;
	flex-direction: column;
}

.FlexDynamic {
	flex-grow: 1;
	height: 100%;
	width: 100%;
}

.FlexStatic {
	flex-shrink: 0;
}

.FlexCenter {
	align-items: center;
	justify-content: center;
}

.HorizontalCenter {
	margin-left: auto;
	margin-right: auto;
}

.PageLine {
	height: 0.2rem;
	width: 90%;
	left: 5%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	white-space: nowrap;
}
