/*===== General Objects =====*/

.Notification {
	background-color: #55dd55;
	border-radius: 4pt;
	opacity: 0.7;
	cursor: pointer;
}

.Notification.NotificationFailure {
	background-color: #dd5555;
}

.Notification .NotificationTitle {
	background-color: #eeeeee77;
	background-blend-mode: lighten;
	border-radius: 4pt;
	font-weight: bold;
	color: #000000;
}

.Notification .NotificationFieldName {
	background-color: #00000055;
	background-blend-mode: darken;
	border-radius: 4pt 0 0 4pt;
	font-weight: bold;
	color: #000000;
}

.Notification .NotificationFieldValue {
	background-color: #eeeeee44;
	background-blend-mode: lighten;
	border-radius: 0 4pt 4pt 0;
	color: #000000;
}

.Variable {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.Variable .Name {
	width: 25%;
}

.Variable .Domain {
	width: 75%;
}

.Text {
	color: #cccccc;
	font-family: Verdana;
}

.ButtonText {
	color: #9b9b9b;
	font-family: Verdana;
}

.ButtonText:hover {
	color: #ffffff;
}

.ButtonText.Active {
	color: #3e84f4;
}

.ButtonText.Active:hover {
	color: #6ea3f7;
}

.Input {
	border-width: 0 0 1pt 0;
	border-color: #555555;
	border-style: solid;
	outline-width: 0;
	background-color: #111111;
	box-sizing: border-box;
	padding-bottom: 1pt;
}

.Input:focus {
	border-width: 0 0 2pt 0;
	border-color: #9b9b9b;
	padding-bottom: 0pt;
}

.Disabled {
	opacity: 0.2;
	user-select: none;
	cursor: default;
	pointer-events: none;
}

/*===== Main Page =====*/

#Content {
	background-color: #222222;
}

#CommandInput {
	font-size: 14pt;
}
